
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.reveal .highlight,
.reveal .text-green {
    color: #7F9F7F;
}
.reveal .text-blue {
    color: #64A9B9;
}
.reveal .text-red {
    color: #9F3939;
}
.reveal .text-orange {
    color: #9E763B;
}
.reveal .text-muted {
    color: #777;
}

.reveal blockquote {
    padding: 0.25em 0.5em;
    width: 100%;
}

.reveal em {
    color: #7F9F7F;
}

.reveal code {
    color: #64A9B9;
    font-weight: normal;
}

.reveal pre code {
    max-height: inherit;
}

.reveal pre {
    width: 98%;
}

.strike {
    color: #9f3939;
    position: relative;
}

.strike:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid red;

  transform:rotate(-10deg);
}

.reveal .img-left {
    float: left;
    margin: 0 20px 20px 0;
    border: 0;
    box-shadow: none;
}
.reveal .img-bg {
    box-shadow: none;
    margin: 0;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    max-height: inherit;
    max-width: inherit;

    z-index: 1;
}

.reveal .heirarchy-text {
    position: relative;
    z-index: 2;

    margin-left: 40%;
    text-align: left;
}

.reveal .img-padded {
    padding: 20px;
    background: #fff;
}
